<a href="https://colab.research.google.com/github/pablomoriv9830/python_para_todos/blob/main/tuplas_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datahack - Tuplas y Sets

## Tuplas

In [1]:
lista = [1, 2, 3, 4]

In [2]:
tupla = (10, 20, 30, 40)

In [3]:
tupla[0]

10

In [4]:
tupla[2]

30

## Inmutabilidad

In [5]:
lista = [1, 2, 3, 4, 5]
lista[0] = 3
print(lista)

[3, 2, 3, 4, 5]

In [6]:
# Las tuplas son inmutables, sus valores no pueden ser modificados
tupla = (1, 2, 3, 4, 5)
tupla[0] = 45 # Esto es un error
tupla

TypeError: 'tuple' object does not support item assignment

## Tuplas: generación

In [7]:
a = 5
b = 6

In [8]:
a, b

(5, 6)

In [9]:
tupla = a, b
tupla

(5, 6)

In [10]:
tupla[0]

5

In [11]:
tupla[1]

6

## Casteo

In [12]:
tupla = (40, 50, 60)

In [13]:
tupla

(40, 50, 60)

In [14]:
lista = list(tupla)
lista[0] = 55
tupla = tuple(lista)
print(tupla)

(55, 50, 60)

## Asignación multiple

In [16]:
a, b, c, d = 'Hola', 123, False, [1, 3, (2, 3, 4), 8]
print(a)
print(b)
print(c)
print(d)

Hola
123
False
[1, 3, (2, 3, 4), 8]

In [17]:
a, b, c, d = ('hola', 1, True, False)
print(a, b, c, d)

hola 1 True False

## Sets (conjuntos)

In [19]:
herramientas_ds = {"Python", 123, "Python", "R", "SQL", "Spark", "Tableau"}

In [20]:
herramientas_ds # No acepta valores duplicados

{123, 'Python', 'R', 'SQL', 'Spark', 'Tableau'}

In [21]:
herramientas_ds.add("Excel")

In [22]:
herramientas_ds # No tienen orden

{123, 'Excel', 'Python', 'R', 'SQL', 'Spark', 'Tableau'}

In [23]:
herramientas_de = {"Python", "SQL", "Spark", "Sqoop", "Kafka"}

In [27]:
herramientas_ds.intersection(herramientas_de) # Valores compartidos por ambas

{'Python', 'SQL', 'Spark'}

In [28]:
herramientas_ds.difference(herramientas_de) # Diferencia del conjunto con otro

{123, 'Excel', 'R', 'Tableau'}

In [30]:
# Diferencia de valores en ambos conjuntos
herramientas_ds.symmetric_difference(herramientas_de)

{123, 'Excel', 'Kafka', 'R', 'Sqoop', 'Tableau'}

In [29]:
herramientas_ds.union(herramientas_de) # Union de ambos conjuntos sin repetidos

{123, 'Excel', 'Kafka', 'Python', 'R', 'SQL', 'Spark', 'Sqoop', 'Tableau'}